$information-phone: "only screen and (min-width : 768px)";

.news-panel {
  margin-top: 20px;
  align-content: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.body-font {
  font-size: 16px;
  // text-align: justify;
  padding: 0;

  img {
    width: 100%;
    height: auto
  }
}

.font-weight-bold {
  font-size: 11px;
  margin-top: 10px;
}

.Btn-trends {
  font-size: 22px;
}

// .img-container {}

.title-container {
  margin-top: 20px;
}

.icons-list {
  justify-self: end;
  list-style-type: none;
  margin: 10px 0;
  text-align: center;

  li {
    display: inline;
  }

  & a {
    color: #1b1b2f;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    margin: 0 1rem;
    transition: all 300ms linear 0s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #287ece;
      border-bottom: 1px solid #fdcb6e;
    }
  }
}

.main-title {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
}

.img-card {
  @media #{$information-phone} {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.commentsTitle {
  margin-bottom: 10px;
}

.feedSection {
  margin-bottom: 10px;
}