.panel {
  margin-top: 15px;

  .panel-card {
    box-shadow: 0 5px 10px -5px;
  }
}

.viewMore {
  margin: 0 !important;
}

.viewMoreContainer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}