.leagueTable{
  margin-bottom: 15px;
  .tablesss{
    background-color: #1f4068 !important;
    color: white;
    border-radius: 0 !important;
    border: none;
    margin: 10px;
    height: 45px;

    img {
      width: 30px;
      height: 30px;
    }

    h1 {
      font-family: "Russo One";
      font-size: 18px;
      font-weight: 100;
      line-height: 15px;
      color: white;
    }
  }
}