.video-panel {
  margin-top: 15px;
  background-color: #ffffff;
}

.vid-wrapper {
  height: 250px;
  // padding: 15px;
  position: relative;
  // padding-top: 56.25%;

  @media (max-width: 768px) {
    height: none;
    margin-top: 20px;
  }
  .vid-frame {
    padding: 15px;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}