.img-cover{
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  border-radius: 50%;
  @media (max-width: 768px) {
    border-radius: none;
    background: none;
  }
}
.img-style {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-back {
  padding: 0 !important;
  background: none !important;
}

.dropdown-font {
  font-size: 12px;
  text-align: center !important;
  color: black !important;
  padding-left: 0px !important;
}