.title{
  background-color: #1f4068;
  color: white;
  border-radius: 0;
  border: none;
  margin: 10px;
  height: 44px;
  h1 {
    font-family: "Russo One";
    font-size: 28px;
    font-weight: 100;
    line-height: 15px;
  }
}