.title{
  background-color: #1f4068 !important;
  color: white;
  border-radius: 0 !important;
  border: none;
  margin: 10px;
  height: 38px;
  h1 {
    font-family: "Russo One";
    font-size: 18px;
    font-weight: 100;
    line-height: 15px;
  }
}